.button {

        color:rgba(38,228,33,1.00);
        transition-duration: 0.8s;
        display:inline-block;
        border-top: 4px solid rgba(10,255,29,1.00);
        border-left: 4px solid rgba(0,210,25,1.00);
  	    border-right: 4px solid rgba(22,136,19,1.00);
	      border-bottom: 4px solid rgba(19,114,16,1.00);
        width: 25%;
        margin-bottom: 15px;
        background-color: rgba(20, 100, 30, 0.3);
        font-size: 3em;
        text-align: center;
    }
.button:hover {
        background-color: rgba(34,140,30,1.00);
        border-top: 4px solid rgba(10,100,29,1.00);
        border-left: 4px solid rgba(0,80,25,1.00);
	    border-right: 4px solid rgba(22,80,19,1.00);
	    border-bottom: 4px solid rgba(19,95,16,1.00);
        color: rgba(20, 220, 90, 0.94);
}

.buttonred {

        color: red;
        transition-duration: 0.4s;
        display:inline-block;
        border-top: 4px solid rgba(255,10,29,1.00);
        border-left: 4px solid rgba(220,0,25,1.00);
	    border-right: 4px solid rgba(136,22,19,1.00);
	    border-bottom: 4px solid rgba(114,29,16,1.00);
        width: 25%;
        margin-bottom: 15px;
        background-color: rgba(100, 20, 30, 0.3);
		font-size: 3em;

    }
/*.buttonred:hover {
        background-color: rgba(34,150,30,1.00);
        border-top: 4px solid rgba(10,100,29,1.00);
        border-left: 4px solid rgba(0,80,25,1.00);
	    border-right: 4px solid rgba(22,110,19,1.00);
	    border-bottom: 4px solid rgba(19,95,16,1.00);
        color: rgba(20, 220, 90, 0.94);
}
*/
.buttonred:hover {
        background-color: rgba(90,24,30,1.00);
        border-top: 4px solid rgba(200,10,29,1.00);
        border-left: 4px solid rgba(145,0,25,1.00);
	    border-right: 4px solid rgba(110,22,19,1.00);
	    border-bottom: 4px solid rgba(105,18,16,1.00);
        color: #D7263D;
}

.border-darg {
        border-color: darkgreen;
        border-width: 10px;
        border-style: dashed;
        border-radius: 30%;
    }
.container-box {
        margin: 0 auto;
        padding: 0;
        overflow-y: auto;
        max-height: 98vh;
}

.border-green {
        border-color: greenyellow;
        border-width: 10px;
        border-style: dashed;
        border-radius: 30%;
    }
.border-blue {
        border-color: aqua;
        border-width: 10px;
        border-style: dashed;
        border-radius: 30%;
    }

.title {
        font-family: 'Lobster', 'Titillium Web', monospace;
        text-align: center;
        font-size: 45pt;
        padding-bottom: 0px;
        text-decoration: none;
}
.olddownload {
    color: rgba(100,185,25,0.89);
}
.text {
        color: limegreen;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;

}

.inlineblock {
        display: inline-block;
        color: #D7263D;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
.bg {
    background-color: rgba(81,81,81,0.3);
    border: none;
    border-radius: 8px;
    padding: 20px;
}
