.button {
    
        color:rgba(38,228,33,1.00);
        transition-duration: 0.8s;
        display:inline-block;
        border-top: 4px solid rgba(10,255,29,1.00);
        border-left: 4px solid rgba(0,180,25,1.00);
	    border-right: 4px solid rgba(22,136,19,1.00);
	    border-bottom: 4px solid rgba(19,114,16,1.00);
        width: 25%;
        margin-bottom: 15px;
        
    }
.button:hover {
        background-color: rgba(24,150,20,1.00);
        border-top: 4px solid rgba(10,100,29,1.00);
        border-left: 4px solid rgba(0,80,25,1.00);
	    border-right: 4px solid rgba(22,60,19,1.00);
	    border-bottom: 4px solid rgba(19,75,16,1.00);
        color: rgb(20,15,10);
}
.border-darg {
        border-color: darkgreen;
        border-width: 10px;
        border-style: dashed;
        border-radius: 30%;
    }
    
.border-green {
        border-color: green;
        border-width: 10px;
        border-style: dashed;
        border-radius: 30%;
    }
.border-blue {
        border-color: aqua;
        border-width: 10px;
        border-style: dashed;
        border-radius: 30%;
    }

.title {
        font-size:70px;
        padding-bottom: 25px;
        text-decoration: none;
}    
.olddownload {
    color: rgba(100,185,25,0.89);
}