@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200');

body {

background: -moz-linear-gradient(45deg, rgba(32,32,32,1) 13%, rgba(36,38,38,1) 28%, rgba(55,64,63,1) 90%, rgba(59,69,68,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(13%, rgba(32,32,32,1)), color-stop(28%, rgba(36,38,38,1)), color-stop(90%, rgba(55,64,63,1)), color-stop(100%, rgba(59,69,68,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(32,32,32,1) 13%, rgba(36,38,38,1) 28%, rgba(55,64,63,1) 90%, rgba(59,69,68,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(32,32,32,1) 13%, rgba(36,38,38,1) 28%, rgba(55,64,63,1) 90%, rgba(59,69,68,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(32,32,32,1) 13%, rgba(36,38,38,1) 28%, rgba(55,64,63,1) 90%, rgba(59,69,68,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(32,32,32,1) 13%, rgba(36,38,38,1) 28%, rgba(55,64,63,1) 90%, rgba(59,69,68,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B4544', endColorstr='#202020',GradientType=1 ); /* ie6-9 */
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}
.test {
    border-bottom: 4px solid rgb(100,50,20);
}
html, body {
    height: 100%;
	width: 100%;
}

p {
    font-family: Monospace;
}
.col-container {
	display: table;
	width: 100%
}
.column {
	float: left;
	width: 50%;
	padding-bottom: 2em;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.font-t {
    font-family: 'Titillium Web', sans-serif;
}
.font-r {
    font-family: "Fira Sans Extra Condensed", "Roboto", monospace;
}
.font-f {
    font-family: 'Fira Sans', sans-serif;
}

.font-u {
    font-family: 'Ubuntu Mono', Monospace;
}

.font {
    font-family: Lobster, Monospace;
}

.font-ral {
    font-family: 'Raleway', sans-serif;
}

.ani {
    animation: fadein 1.5s;
    transition-duration: 0.8s;
}

a.nounderline {
    text-decoration: none
}

.scale {
    background-image: image-url("beach.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

.marginz {
    margin: 0;
    padding: 0;
}
.colfade {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));

    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
